jax-ws-provider/src/main/resources/ServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.fillo.sk/" xmlns:tns="http://ws.fillo.sk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addNumbers" type="tns:addNumbers"/>

  <xs:element name="addNumbersResponse" type="tns:addNumbersResponse"/>

  <xs:complexType name="addNumbers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addNumbersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

